<form action="/add" method="post">

    <select class="" name="civility">
    <option value="M.">M.</option>
    <option value="Mme.">Mme.</option>
    </select>

    <input type="text" name="lastname" placeholder="lastname">
    <input type="text" name="firstname" placeholder="firstname" >

    <input type="submit" value="Valider">
</form>
