<form action="/add" method="post">



      <div class="form-group">

    <select class="" name="civility" class="form-control">
    <option value="1">M.</option>
    <option value="2">Mme.</option>
    </select>




    <input type="text" name="firstname" placeholder="firstname" class="form-control">
    <input type="text" name="lastname" placeholder="lastname" class="form-control">
    <input type="submit" value="Valider">

    </div>

</form>

<form class="" action="/delete" method="post">
  <div class="form-group">



    </div>
</form>
