{% extends 'layout.html.twig' %}

{% block content %}
{% if contact %}
<h1>contacts</h1>
<table>
  <tr>
    <th >Civility</th>
    <th>Nom prénom</th>
  </tr>

        {% for contact in contact %}
        {% for civil in civility %}
        {% if civil.ID == contact.civility_id %}
        <tr>
            <td> {{ civil.civility }}</td>
            <td>{{ contact.lastname|upper }} {{ contact.firstname[:1]|upper ~ contact.firstname[1:]|lower }}</td>
          </tr>

        {% endif %}
        {% endfor %}
        {% endfor %}


    </table>
{% endif %}
{% endblock %}
