{% extends 'layout.html.twig' %}

{% block content %}
    <h1>contacts</h1>

    <ul>
        {% for contact in contact %}
            <li>{{ contact.lastname }}. {{ contact.firstname }}</li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
{% endblock %}
